@charset "utf-8";

#wp-admin-bar-sjg-js-button a {
  background-color: #047506;
}

#sjg {
  h1 {
    margin-bottom: 40px;
  }

  .structure-list {
    margin-bottom: 40px;

    header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      h2 {
        margin: 0;
        font-size: 20px;
        font-weight: normal;
      }
    }

    table {
      border-collapse: collapse;

      tbody {
        tr {
          th {
            padding: 5px 10px;
            border: 1px solid #ccc;
            text-align: left;
            background-color: #eee;
          }

          td {
            padding: 8px 10px;
            border: 1px solid #ccc;
            text-align: left;
            background-color: #fff;

            .post-types {
              display: flex;
              gap: 5px;
              margin: 0;
              font-size: 14px;
              line-height: 28px;

              li {
                display: inline-block;
                margin: 0;
                padding: 0 10px;
                border-radius: 5px;
                color: rgb(6, 45, 114);
                background-color: rgb(220, 232, 253);
              }
            }
          }
        }
      }
    }

    > ul {
      display: flex;
      gap: 20px;
      max-width: 800px;

      > li {
        width: 250px;
        padding: 15px;
        border-radius: 5px;
        background-color: #fff;

        .info {
          display: flex;
          gap: 10px;
          flex-direction: column;

          .post-types {
            display: flex;
            gap: 10px;
            margin: 0;
            font-size: 14px;
            line-height: 28px;

            li {
              display: inline-block;
              padding: 0 10px;
              border-radius: 5px;
              color: rgb(6, 45, 114);
              background-color: rgb(220, 232, 253);
            }
          }

          .path {
            display: inline-block;
            margin: 0;
            padding: 0 10px;
            border-radius: 5px;
            background-color: #eee;
            color: #888;
            font-size: 14px;
            line-height: 30px;

            span {
              color: #000;
            }
          }
        }

        .control {
          margin-top: 20px;

          ul {
            display: flex;
            gap: 20px;

            li {
              font-size: 14px;

              a {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }

  /*
  .panels {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .panel {
      h2 {
        padding: 10px 15px;
        font-size: 16px;
        line-height: 28px;
        font-weight: normal;
        background-color: #fff;
      }
    }
  }
  */
}